body {
    margin-left: 6%;
    margin-right: 6%;
}

/* Navigation section*/

.brand-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.brand-heading img {
    max-width: 100%;
    height: 115px;
    object-fit: contain;
    display:block;
}

.button-icons {
    position: absolute;
    right: 0;
    display: flex;
    gap: 10px;
    align-items: center;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
  
}

.nav-bar {
    display:flex;
    gap:50px;
    justify-content: center;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    color:black;
    font-family: 'Crimson Text', serif;
    font-size: 1rem;
    padding: 15px 5px;
    color:black;
}

.nav-bar a:hover {
    color:#520015;
}

.searchbar {
  display: flex;
  align-items: center;
  padding: 0rem 1.9rem;
  margin: 1 1rem;
}


.searchinput {
  border: none;
  outline: none;
  font-family: "Cormorant Garamond", serif;
  font-size: 1.1rem;
  background: transparent;
  width: 12rem;
 
}

.accountinfo img {
    max-width: 2rem;
    height: auto;
}

.addtocart img {
    max-width: 3.5rem;
    height: auto;
}

.search-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
}

/*Category*/

.category-container {
    display:flex;
    gap:4rem;
}

.category {
    border:1px solid black;
    border-radius: 25px;
    padding:0.2rem 1.4em;
}

.category p {
    font-size: 0.8rem;
    font-family: 'Inter';
    font-weight: lighter;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

/*Products*/

.products-container {
    display:grid;
    margin-top: 2rem;
    grid-template-columns: repeat(3, 1fr);
    gap:0.2rem;
}

.product-category p {
    font-size: 15px;
}

.product-image {
    position: relative;
    width: 100%;
    aspect-ratio: 2.4 / 3;
    overflow: hidden;
}

.product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease-in-out;
    display: block;
}

.secondversion {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.products:hover .secondversion {
    opacity: 1;
}

.products:hover .firstversion {
    opacity: 0;
}


.product-info {
    text-align: left;
    font-size: 0.8rem;
    font-family: 'Inter';
    font-weight: lighter;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-bottom: 1.5rem; 
     
}

.brand {
    font-size: 0.55rem;
    letter-spacing: 0.06em;
}
